<div class="jumbotron" id="artbot-and-slack">
  <div class="container-index">
    <h3 class="site-title">Artbot</h3>
    <p class="lead"> is a chatbot that delivers art into Slack.</p>
    <%= image_tag "demo.gif", class: "img-responsive" %>
  </div>
</div>
